*{
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #333;
  padding: 0%;
  margin:0%;
  font-family: 'Roboto', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  height: auto;
  margin: 0px;
  padding: 0%;
}
main-head {
  background-color: #333;
}
main-content{
  display: block;
  background-image: linear-gradient(131deg, rgba(186, 186, 186, 0.01) 0%, rgba(186, 186, 186, 0.01) 16.667%,rgba(192, 192, 192, 0.01) 16.667%, rgba(192, 192, 192, 0.01) 33.334%,rgba(48, 48, 48, 0.01) 33.334%, rgba(48, 48, 48, 0.01) 50.001000000000005%,rgba(33, 33, 33, 0.01) 50.001%, rgba(33, 33, 33, 0.01) 66.668%,rgba(182, 182, 182, 0.01) 66.668%, rgba(182, 182, 182, 0.01) 83.33500000000001%,rgba(211, 211, 211, 0.01) 83.335%, rgba(211, 211, 211, 0.01) 100.002%),linear-gradient(148deg, rgba(48, 48, 48, 0.01) 0%, rgba(48, 48, 48, 0.01) 16.667%,rgba(178, 178, 178, 0.01) 16.667%, rgba(178, 178, 178, 0.01) 33.334%,rgba(192, 192, 192, 0.01) 33.334%, rgba(192, 192, 192, 0.01) 50.001000000000005%,rgba(237, 237, 237, 0.01) 50.001%, rgba(237, 237, 237, 0.01) 66.668%,rgba(194, 194, 194, 0.01) 66.668%, rgba(194, 194, 194, 0.01) 83.33500000000001%,rgba(227, 227, 227, 0.01) 83.335%, rgba(227, 227, 227, 0.01) 100.002%),linear-gradient(138deg, rgba(146, 146, 146, 0.03) 0%, rgba(146, 146, 146, 0.03) 25%,rgba(33, 33, 33, 0.03) 25%, rgba(33, 33, 33, 0.03) 50%,rgba(46, 46, 46, 0.03) 50%, rgba(46, 46, 46, 0.03) 75%,rgba(172, 172, 172, 0.03) 75%, rgba(172, 172, 172, 0.03) 100%),linear-gradient(38deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 16.667%,rgba(28, 28, 28, 0.03) 16.667%, rgba(28, 28, 28, 0.03) 33.334%,rgba(236, 236, 236, 0.03) 33.334%, rgba(236, 236, 236, 0.03) 50.001000000000005%,rgba(3, 3, 3, 0.03) 50.001%, rgba(3, 3, 3, 0.03) 66.668%,rgba(207, 207, 207, 0.03) 66.668%, rgba(207, 207, 207, 0.03) 83.33500000000001%,rgba(183, 183, 183, 0.03) 83.335%, rgba(183, 183, 183, 0.03) 100.002%),linear-gradient(145deg, rgba(20, 20, 20, 0.02) 0%, rgba(20, 20, 20, 0.02) 20%,rgba(4, 4, 4, 0.02) 20%, rgba(4, 4, 4, 0.02) 40%,rgba(194, 194, 194, 0.02) 40%, rgba(194, 194, 194, 0.02) 60%,rgba(34, 34, 34, 0.02) 60%, rgba(34, 34, 34, 0.02) 80%,rgba(71, 71, 71, 0.02) 80%, rgba(71, 71, 71, 0.02) 100%),linear-gradient(78deg, rgba(190, 190, 190, 0.02) 0%, rgba(190, 190, 190, 0.02) 20%,rgba(95, 95, 95, 0.02) 20%, rgba(95, 95, 95, 0.02) 40%,rgba(71, 71, 71, 0.02) 40%, rgba(71, 71, 71, 0.02) 60%,rgba(7, 7, 7, 0.02) 60%, rgba(7, 7, 7, 0.02) 80%,rgba(130, 130, 130, 0.02) 80%, rgba(130, 130, 130, 0.02) 100%),linear-gradient(293deg, rgba(213, 213, 213, 0.03) 0%, rgba(213, 213, 213, 0.03) 20%,rgba(220, 220, 220, 0.03) 20%, rgba(220, 220, 220, 0.03) 40%,rgba(146, 146, 146, 0.03) 40%, rgba(146, 146, 146, 0.03) 60%,rgba(57, 57, 57, 0.03) 60%, rgba(57, 57, 57, 0.03) 80%,rgba(120, 120, 120, 0.03) 80%, rgba(120, 120, 120, 0.03) 100%),linear-gradient(90deg, rgb(172,19,138),rgb(42,141,178));
  min-height: 100vh;
}
page-menu {
  background-color: #333;
  margin-top: 2px;
}
.div-img{
  display: flex;
  align-items: flex-start ;
  flex-shrink: 0;
  gap:16px;
}
p{
  color: #ffffff;
}
.hamburger {
  background-color: #333;
  margin-top: 7px;
  margin-left: 6px;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5%;
  cursor: pointer;
}
#ham{
  padding-top: 0px;
  padding-left: 5px;
  padding-bottom: 5px;
}
.hamburger-in {
  width: 30px;
  height: 35px;
}
.hamburger-in div {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: 0.3s ease;
}

.textos{
  display: flex;
  justify-content: space-around;
  gap: 16px;
}


#ham1 {
  transform: translateY(-4px);
  transition: transform 1s;
  transform-origin: left;
  top: 5px;
}
#ham2 {
  transition: transform 1s;
  top: 10px;
}
#ham3 {
  transform: translateY(4px);
  transition: transform 1s;
  transform-origin: left;
  top: 15px;
}

.nav {
  z-index: 2;
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  z-index: 2;
  padding: 0px;
  padding-left: 22px;
}

.nav li {
  z-index: 3;
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: bold;
}

.option-panel {
  z-index: 2;
  transition: 0.3s ease;
  display: none;
}

.option-panel ul {
  z-index: 2;
  padding: 0 22px;
}

.option-panel li {
  z-index: 3;
  list-style: none;
  padding: 12px 0;
}

.option-panel li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.option-panel li a:hover {
  font-weight: bold;
}
.red-panel{
  z-index: 2;
  transition: 0.3s ease;
  display: none;
  padding-left: 32px;

}
.historia-panel{
  z-index: 2;
  transition: 0.3s ease;
  display: none;
  padding-left: 32px;

}
.redes{
  display: flex;
  margin-top: 24px;
  justify-content: center;
  gap: 32px;
}

.redes-container a{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.historia-panel .container{
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  gap: 16px;
}
.historia-panel .container .columna{
  grid-row: inherit;
}

.main-container{
  display: flex;
  justify-content: space-around;
}
.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #ham1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #ham2 {
  opacity: 0;
}

.change #ham3 {
  transform: translateY(-6px) rotateZ(45deg);
}
img.header_img {
  border-radius:50%;
  margin-top: 5px;
  margin-right: 5px;
  width: 45px;
  height: 45px;
  object-fit: cover;
}
img.img-insti{
  border-radius:50%;
  margin: auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
img.img-histo{
  border-radius:50%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

img.img-main{
  border-radius:20%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  
  width: 300px;
  height: 300px;
  object-fit: cover;
}
img.red{
  border-radius:60%;
  margin: auto;
  width: 35px;
  height: 35px;
  object-fit: cover;
}
footer-library{
  background-color: #333;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding:16px;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 25px;
}
svg {
  fill: white;
}

footer-library .colum{
  display: grid;
  gap: 16px;
}

footer-library .colum .row{
  display: flex;
  align-items:center ;
}

footer-library .colum .row svg{
  height: 20px;
  width: 20px;
}